<% @title = "About #{DEFAULT_APP_NAME}" %>

<div class="row" style="margin-top:54px">
  <div class="span12">
    <h1 class="about-title"><%= @title %></h1>
    <p class="about-tagline">Visit our <%= link_to 'online community', ABOUT_PAGE_FORUM, target: '_blank' %> or contact us <%= mail_to ABOUT_PAGE_CONTACT, 'via email', target: '_blank', subject: "#{DEFAULT_APP_NAME} Question" %>.</p>
    <p class="about-signup"><%= link_to 'Sign Me Up', new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>

<hr class="soften">

<p class="about-description"><%= DEFAULT_APP_NAME %> is a <%= link_to 'free to use*', 'https://github.com/remomueller/rails4contour/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/rails4contour', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> for testing integration of Rails 4, Devise, Contour 2, and Ruby 2.0</p>

<div class="row">
  <div class="span4">
    <h2 class="about-title">Rails 4!</h2>
    <ul>
      <li>Uses Turbolinks!</li>
    </ul>
  </div>
  <div class="span4">
    <h2 class="about-title">Devise from github rails4 branch!</h2>
    <ul>
      <li>Awesome!</li>
    </ul>
  </div>
  <div class="span4">
    <h2 class="about-title">Contour 2.0.0!</h2>
    <ul>
      <li>Updated JavaScript compatible with Turbolinks!</li>
      <li>Updated scaffolding!</li>
      <li>Exclamation Marks!!!</li>
    </ul>
  </div>
</div>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer">
    <%= DEFAULT_APP_NAME %> Version <%= link_to Rails4Contour::VERSION::STRING, "https://github.com/remomueller/rails4contour/tree/#{Rails4Contour::VERSION::MAJOR}.#{Rails4Contour::VERSION::MINOR}.#{Rails4Contour::VERSION::TINY}" %>
  </p>
</footer>
